/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-family: 'Uchen', serif;
  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: $color-primary;
  border-color: $color-primary;
  color: white;
  border-radius: 30px;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
