.products {
    &__card {
        height: 100%;
        border: none !important;
        // &:hover ,&:active{
            border: 1px solid $color-primary-dark !important;
            border-radius: 0.25rem;
            transition: all 0.3s;
            cursor: pointer;
        // }
    }
    &__card:not(:last-child) {
        margin-right: -1rem;
    }
    &__img {
        height: 12rem;
    }
    &__title a {
        color: #2e2e2e;
    }

    &__title a:hover {
        color: $color-primary-dark;
        text-decoration: none;
    }

    &__body {
        padding-left: 0;
    }

    &__text {
        font-size: 1.4rem;
    }
}
